

.hola {

	background-image: url("images/lana.png");
	background-size: cover;
	background-position: center;
	padding: 450px;
	margin: 0px;
	text-align: center;
}


.btn{

	width: 100%; 
	height: auto;
	position: absolute;
	
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 36px;
  padding: 16px 30px;
  border: ;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn{
  background-color: black;
  color: white;
  font-size: 50px;
}


.sociales {
	display: flex;
	float: center;
	position: center;
	}

h1	{	
	font-family: 'Cairo', sans-serif;
	font-family: 'Indie Flower', cursive;
	color: pink;
	font-size: 40px;
	
}
.grid-container {
	
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100px;
  gap: 30px 10px;
  grid-template-areas: 40px;
  font-size: 50px;
  position: justify;
  padding: 50px;
  margin: 60px;
}

.container{
	display: flex;
	flex-direction: column;
}
.contenedor .sociales{

	position: center;
	padding: center;
	}

	}
.titulo-principal .titulo{
	font-family: 'Cairo', sans-serif;
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	line-height: 30px;
	text-align: center;
	text-decoration: black;
}